<div class="gallery">
  <div class="gallery-content">
    <a href="#" class="gallery-slide" (swipeLeft)="prevSlide()" (swipeRight)="nextSlide()" [class.gallery-slide--active]="activeSlide === slide" *ngFor="let slide of slides"
       [ngStyle]="{'background-image': setImage(slide.src)}">
      <span class="gallery-sub-title" *ngIf="slide.sub">{{ slide.sub }}</span>
      <h2 class="gallery-title">{{ slide.title }}</h2>
    </a>
  </div>
  <button class="gallery-arrow gallery-arrow--left" (click)="prevSlide()"></button>
  <button class="gallery-arrow gallery-arrow--right" (click)="nextSlide()"></button>
  <div class="gallery-navs">
    <button class="gallery-nav-btn"  [class.gallery-nav-btn--active]="slide === activeSlide" *ngFor="let slide of slides" (click)="setActiveSlide(slide)"></button>
  </div>
</div>
