@import "src/variables";

.main-nav {

  &-content {
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-link {
    font-family: $font-family;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    color: $main-theme;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;

    &--logo {
      margin-left: 60px;
      margin-right: 60px;
    }
  }

  &-dot {
    display: block;
    width: 4px;
    height: 4px;
    background-color: $main-theme;
    border-radius: 100%;
    margin: 0 20px 0;
  }
}
