<div class="main-nav">
  <div class="container">
    <div class="main-nav-content">
      <a href="#" class="main-nav-link">Кофе</a>
      <i class="main-nav-dot"></i>
      <a href="#" class="main-nav-link">Аксессуары</a>
      <i class="main-nav-dot"></i>
      <a href="#" class="main-nav-link">Отзывы</a>
      <a href="#" class="main-link main-nav-link--logo">
        <svg-icon  src="/assets/img/svg/logo.svg"></svg-icon>
      </a>
      <a href="#" class="main-nav-link">Блог</a>
      <i class="main-nav-dot"></i>
      <a href="#" class="main-nav-link">Помощь</a>
      <i class="main-nav-dot"></i>
      <a href="#" class="main-nav-link">О нас</a>
    </div>
  </div>
</div>
