.link {
  font-size: 14px;
  line-height: 16px;
  color: $white;
  text-decoration: none;
  border-bottom: 1px solid $white;

  &:hover {
    border-color: transparent;
  }

  &:active {
    color: rgba($white, 0.7);
  }

  &--clear {
    border-color: transparent;
  }

  &--dashed {
    border-bottom-style: dashed;
  }
}

.alert {
  background-color: red;
}
