@import "src/variables";

.promo {
  padding: 20px 16px 16px;
  background-size: auto 97.5%;
  background-position: 97.5% -30px;
  background-repeat: no-repeat;
  background-color: $gray;

  &--medium {
    min-height: 427px;
  }

  &--small {
    min-height: 280px;
  }
}
