<div class="top-toolbar">
  <div class="container">
    <div class="row top-toolbar-content">
      <div class="col col-lg-4">
        <a href="#" class="link u-mr-20">Обратный звонок</a>
        <a href="#" class="top-toolbar-link link link--dashed">Ваш город: Уссурийск</a>
      </div>
      <div class="col col-lg-5">
        <a href="tel:84996537117" class="link link--no-decoration u-mr-20">T — 8 (499) 653-71-17</a>
        <a href="mailto:info@torrefacto.ru" class="link link--no-decoration">E — info@torrefacto.ru</a>
      </div>
      <div class="col top-toolbar-account">
        <a href="" class="link">Вход</a>
        |
        <a href="" class="link">Регистрация</a>
      </div>
    </div>
  </div>
</div>
