<div class="top-toolbar">
  <div class="container">
    <div class="row top-toolbar-content">
      <div class="col col-lg-4">
        <a href="#" class="link u-mr-20">Обратный звонок</a>
        <a href="#" class="top-toolbar-link link link--dashed">Ваш город: Уссурийск</a>
      </div>
      <div class="col col-lg-4">
        <a href="tel:84996537117" class="link link--clear u-mr-20">T — 8 (499) 653-71-17</a>
        <a href="mailto:info@torrefacto.ru" class="link link--clear">E — info@torrefacto.ru</a>
      </div>
      <div class="col col-lg-4 u-text-align-right">
        <div class="top-toolbar-account u-mr-20">
          <a href="" class="link">Вход</a>
          |
          <a href="" class="link">Регистрация</a>
        </div>
        <a href="#" class="top-toolbar-cart link link--clear">
          <svg-icon  src="/assets/img/svg/cart.svg"></svg-icon>
          <span class="top-toolbar-counter">Корзина пуста</span>
        </a>
      </div>
    </div>
  </div>
</div>
