@import "src/variables";

.top-toolbar {
  background-color: $main-theme;

  &-content {
    min-height: 65px;
    align-items: center;
  }

  &-account {
    color: $white;
    text-align: right;
  }
}
