// colors
$white: #ffffff;
$black: #000000;
$gray: #e5e5e5;
$orange: #fcbea1;
$purple-light: #b399cc;
$purple-dark: #383455;
$yellow: #f9e19f;
$pink: #E673B7;

$main-theme: #383455;

//font
$font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$font-family--secondary: "Open sans";

//common
$box-shadow: 0px 3px 3px rgba($black, 0.25);
$border-radius: 4px;
