// colors
$white: #ffffff;
$black: #000000;
$gray: #eceeef;

$main-theme: #383455;

//font
$font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$font-family--secondary: "Open sans";

//common
$box-shadow: 0px 3px 3px rgba($black, 0.25);
$border-radius: 4px;
